* {
    padding: 0;
    margin:0;
}
body{
    font-family: "Inter",system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif;
}
#image {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}

.header {
    display: flex;
   position:sticky;
    width: 100%;
    z-index: 30;
    justify-content: space-between;
    column-gap: 12px; 
    top: 0;
    background-color: white

}

#header21 {
    margin-left: 600px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;
    border: 1px solid black;
}
#header21:hover {
    border: 2px solid black;
}

#header2 {
    margin-right: 25px;
    background-color: rgb(255, 108, 55);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;

}

#header2:hover{
    background-color: rgba(105, 84, 72, 0.904)
}

#header1 {
    height: 1px;
    margin-left: 160px;
    border: 1px solid lightgray;
}
#pricing {

    margin-top: 10px;
    text-decoration: none;
        color: rgb(107, 107, 107);
        font-weight: 600;
        font-size: 15px;
        justify-content: space-between;
}
#pricing:hover {
    color: black;
}

.backgroundimage {
    width: 100%;
    height: 600px;
    background-image: url("https://www.postman.com/_wp-assets/home/da1301f686f09c2c.png");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-color: white;
    z-index: 5; 
}
#backgroundimage1 {
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: 0;
    margin-left: 200px;
    margin-bottom: 90px;   
}

#font {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;
    font-weight: 600;
    font-size: 28px;
}
#font1 {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;
    font-weight: 400;
    font-size: 16px;
    color: rgb(33,33,33);
}

.threepeople {   
    width: 100%;
    height: 570px;
    background-color: rgb(249, 249, 249);
    position: relative;
}

#size {
    width: 312px;
    height: 205px;
    float: right;
    margin-right: 200px;
    margin-top: -50px;
}

#question {
    margin-left: 200px;
    margin-top: 50px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;
    font-weight: 600;
    font-size: 24px;
}

#container {
    display: flex;
    width: 80%;
    padding: 20px;  
    margin-left: 170px;
    column-gap: 1px;
    
}

#square {
    width: 290px;
    height:170px;
    border: 1px solid black;
    background-color: white;
    margin-left: 80px;
    margin-top: 60px;
    border: 1px solid lightgray;
    padding: 18px;
    margin: 10px;
    
}

#learn {
    margin-left: 800px;
    margin-top: 50px;
    background-color: rgb(249, 249, 249);
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #888888;
    padding: 6px;

}

#learn:hover{
    background-color: 2px solid black;
}

#tt {
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;
}

#tt:hover{
    color: blue;
}

.whatshappening {
    padding-top: 10px;
    width: 100%;
    height: 1000px;
}

#happen {
    font-size: 24px;
    font-weight: 600;
    margin-left: 230px;
    font-family:Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;; ;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(3,200px);
   
    
    height: 750px;
    width: 100px;
    padding: 35px;
    grid-column-gap: 200px;
    grid-row-gap: 10px;
    
}

#item1 {
    border: 0.8px solid lightgray;
    width: 340px;
    height: 200px;
    margin-left: 200px;
    padding: 15px;
    

}

#item1:hover {
    box-shadow:  2px 2px 2px 2px #e2e1e1;
    cursor: pointer;
}

.future {
    margin-top: 0px;
    width: 100%;
    height: 270px;
    background-color: rgb(249, 249, 249);

}

.fimage {
    float: right;
    margin-right: 50px;
    margin-top: -175px;
    
}

#words {
    padding: 20px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
}

.red {
    margin-left: 85px;
    margin-top: 5px
}

#spot {
    text-decoration: none;
    margin-top: 15px;
    margin-left: 200px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;
}

.main-container {
    display: flex;
    column-gap: 20px;
    margin-left: 300px;
    
    
    /* margin-top: 80px; */
}

#square1 {
    width: 500px;
    height: 110px;
    border: 1px solid lightgray;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 15px;
    margin-left: -5px;
    
}

#square1:hover{
    background-color: rgb(249, 249, 249);
    cursor: pointer;
}

#logos {
    width: 40px;
    
}

#rr {
    margin-left: 300px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(33,33,33);
    font-family:Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;; ;
}

.container2 {
    display: flex;
    margin-left: 300px;
    padding: 30px;
}

#square2 {
    width: 370px;
    height: 30px;
    padding: 3px;
    margin-left: -42px;
    margin-top: -25px;
}

#logoss {
    width: 40px;
    margin-top: 10px;

}

#square2:hover{
    cursor: pointer;
}

#pos {
    display: inline;
    margin-left: 50px;
    
}
#ee {
    text-decoration: none;
    color: rgb(2, 101, 210);
    font-size: 14px;
}
#ee:hover {
    text-decoration: underline;
}

.four-people{
    width: 100%;
    height: 270px;
    position: absolute;
    background-color:  rgb(249, 249, 249);
    margin-top: 50px;
}

#four{
    float: right;
    width: 700px;
    margin-right: 200px;
    margin-top: 50px;
}

#header5 {
    width: 400px;
    height: 130px;
    margin-left: 300px;
    margin-top: 120px;
    position: relative;
}

.footer {
  
    width: 100%;
    height: 500px;
    margin-top: 325px;
    display: flex;

}

#ifooter {
    width: 153px;
    margin-top: 170px;
    margin-left: 250px;
 
}

#copyright {
    margin-left: 250px;
}

#footer1 {
   
    width: 500px;
    height: 500px;
    margin-left: 60px;

    
}

#footer2 {

    width: 1000px;
    height: 600px;
    display: flex;
 
}

#style2 {
    list-style: none;
    margin-left: 650px;
    margin-top: -300px;
}

#fimage {
    margin-left: 200px;
    width: 153px;
    margin-top: 100px;
}

#sfooter{
    text-decoration: none;
    color: grey;
    font-family:Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;

    
}

#footers{
    list-style: none;
    margin-top: 60px;
    column-gap: 3px;
    line-height: 200%;
    margin-left: 20%;
    
}

#sfooter:hover{
    color: blue;
}
#rrr {
    position: static;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
}

.wee {
    margin-right: 400px;
}

#move{
    margin-right: 30px;
}

#square:hover {
    cursor: pointer;
    
}

.tree{
    padding: 40px;
}
#pool {
    font-weight: 400;
    font-size: 14px;
    color: rgb(107, 107, 107);
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;;
}
#eee {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
}

#rrrr{
    height: 200px;
    width: 200px;
    margin-top: -413px;
    margin-left: 250px;
}

.dropbtn {
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "Inter",system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif;

    color: rgb(107, 107, 107);  
    border: none;
    cursor: pointer;
    margin-top: -60px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 15px;
    border-radius: 10px;
    height: 180x;
    font-size: 12px;
    font-weight: 400;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown a:hover {
    background-color: #ddd;
color: black;
border-radius: 5px;}
  
  .show {display: block;}

  .arrow{
    background: url("./free-arrow-down-icon-3101-thumb.png");
    width: 25px;
  }
.invert{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.icon {
    padding-left: 0;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
   
  }
  .main {
    width: 50%;
    margin: 50px auto;
}



.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#notion {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
}
#collection{
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(107, 107, 107);
    word-break: normal;
}

#para {
    margin-top: 9px;
    color: rgb(107, 107, 107);
    font-size: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
}
#www {
    margin-left: 54px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(33, 33, 33);
    word-break: normal;
    margin-top: -8px;
}
#qqq{
    border: 1px solid black;
    width: 40px;
    height: 20px;
}
#kkk{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(33, 33, 33);
    word-break: normal;
    margin-top: 41px;
}  
form {
    color: #555;
    display: flex;
    padding: 2px;
    background-color: rgb(242, 242, 242);
    width: 275px;
    align-items: center;
    margin: 0 0 30px;
    border-radius: 5px;
    margin-left: 200px;
  }
  form.nosubmit {
   border: none;
   padding: 0;
  }
  input.nosubmit {
    border: 0px solid lightgray;
    width: 100%;
    padding: 9px 6px 9px 50px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  #tyu{
    margin: 0px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    word-break: normal;
    font-size: 14px;
    line-height: 1.44;
    color: rgb(33, 33, 33);
    letter-spacing: -0.12px;
    margin-left: 50px;
  }
  #openq{
    margin-top: -50px;
    width: 39px;
  }
 #qwer{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(107, 107, 107);
    word-break: normal;
    margin-left: 50px;
    margin-top: -12px;
  }
  #cd{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(107, 107, 107);
    word-break: normal;
  }
  #dlogo{
    width: 200px;
    height: 200px;  
    margin-left: 0;
    margin-top: -40px;   
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    word-break: normal;
    font-size: 14px; 
    color: rgb(33, 33, 33);  
  }
  #text2{
    margin-left: 50px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(107, 107, 107);
    word-break: normal;
  }
  #tyy{
    text-decoration: none;
    width: max-content;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(33, 33, 33);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 32px;
    padding: 8px 12px;
    border-radius: 4px;
    margin-left: 240px;
    margin-top: 10px;
  }
  #workspace{
    text-transform: uppercase;
    color: rgb(0, 127, 49);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-left: 264px;
    border: 1px solid rgb(164, 238, 196);
    width: 65px;
    text-align: center;
    
  }
   